<html>
<head>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/dataRequest.js') }}"></script>
	<style type="text/css">
	.container {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
		margin: 0 auto;
	}
    .container1 {
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
		margin: 0 auto;
	}
	.container2 {
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
		margin: 0 auto;
	}

	ul li a{
			margin-right: 20px;
	}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm  navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item">
		<a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{{url_for('goToMap')}}">Map</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{{url_for('goToRegionMap')}}">Choropleth Map</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Data Graphs</a>
		</li>

		<li class="nav-item">
		<select class="browser-default custom-select" id = "selectCase" onchange="selectChart()">
			<option value="Smoking" selected>Smoking</option>
			<option value="Fastfood">Fastfood</option>
			<option value="Alcohols">Alcohols</option>
		</select>
		</li>

		<li class="nav-item"> <p> &nbsp;&nbsp;&nbsp;&nbsp;</p></li>
		<li class="nav-item">
		<select class="browser-default custom-select" id = "selectCity" onchange="twoCall();">
		<option value="Melbourne" selected>Melbourne</option>
		<option value="Sydney">Sydney</option>
		<option value="Brisbane">Brisbane</option>
		<option value="Adelaide">Adelaide</option>
		<option value="Perth">Perth</option>
		</select>
		</li>

		</ul>
		<div class="social-part">
		<i>Data is powered by &nbsp &nbsp </i>
		<i class="fa fa-twitter" aria-hidden="true"></i>
		</div>
		</div>
 </nav>
	<br><br>
	<h4  align="center">Smoking, Alcohol, Fastfood (Tweets in All Cities)</h4>
	 <div class="container1" id = "container0"></div>
	<br><br>
	<hr>
	<br><br>
	<h4 align="center">Positive Sentiment Vs Negative Sentiment (Tweets Number)</h4>
	<div class="container2" id="container2"></div>
	<br><br>
	<hr>
	<br><br>
	<h4 id ="degree_title" align="center">Degree of affection : Smoking  - Primary regions</h4>
  <div class="container1" id = "container"></div>
	<h4 id ="aurin_title" align="center">AURIN Statistic - Number of Lung Cancer Patients  - Primary regions </h4>
	  <div class="container1" id="container1"></div>
<script>

function drawPie(chartData){

	// create a pie chart and set the data
	chart = anychart.pie(chartData);

	chart.animation(true);
	/* set the inner radius
	(to turn the pie chart into a doughnut chart)*/
	chart.innerRadius("30%");

	// set the container id
	chart.container("container0");

	// initiate drawing the chart
	chart.draw();
}

function drawChart(data0, title, container){
	var data = anychart.data.set(data0);
    // create a chart
    var chart = anychart.bar();
    // create a bar series and set the data
    var series = chart.bar(data);
    chart.animation(true);
    // set the chart title
    // set the titles of the axes
    chart.xAxis().title("Regions");
    chart.yAxis().title("Patients Number");
    // set the container id
    chart.container(container);
    // initiate drawing the chart
    chart.draw();

}

function drawMultChart(data, title, container){
	// create a data set
    var data = anychart.data.set(data);
    var seriesData_1 = data.mapAs({x: 0, value: 1});
    var seriesData_2 = data.mapAs({x: 0, value: 2});
    var chart = anychart.bar();
    var series1 = chart.bar(seriesData_1);
    series1.name("Positive Sentiment Tweets Portion");
    var series2 = chart.bar(seriesData_2);
    series2.name("Negative Sentiment Tweets Portion");
    series1.normal().fill("#00cc99", 0.3);
    series2.normal().fill("#C93756", 0.3);
    chart.barsPadding(0.2);
    chart.barGroupsPadding(2);
    chart.xAxis().title("Regions");
    chart.yAxis().title("Portion");
    chart.container("container");
    chart.animation(true);
    chart.draw();
}

function twoCall(){
	document.getElementById("container2").innerHTML = "";
	var sentData = getCitySentData()
	colChart(sentData)
	selectChart()
}

function selectChart(){
		var chart = document.getElementById("selectCase").value;
		document.getElementById("container").innerHTML = "";
		document.getElementById("container1").innerHTML = "";

		if (chart == "Smoking"){
			var smoking = getCityTweetsData("Smoking")
			document.getElementById("degree_title").innerHTML = "Degree of affection : Smoking (Tweets) - Primary regions"
			document.getElementById("aurin_title").innerHTML = "Aurin Statistic - Number of Lung Cancer Patients - Primary regions"
			drawMultChart(smoking[0], "Degree of affection : Smoking", "container" )
			drawChart(smoking[1], "Aurin Statistic - Number of Lung Cancer Patients", "container1")
		}else if (chart == "Fastfood") {
			var fastFood = getCityTweetsData("Fastfood")
			document.getElementById("degree_title").innerHTML = "Degree of affection : Fastfood (Tweets) - Primary regions"
			document.getElementById("aurin_title").innerHTML = "Aurin Statistic -  Estimated number of people aged 18 years old and over who have obesity - Primary regions"
			drawMultChart(fastFood[0], "Degree of affection : Fastfood (Tweets)", "container")
			drawChart(fastFood[1], "Aurin Statistic -  Estimated number of people aged 18 years old and over who have obesity", "container1")
		}else if (chart == "Alcohols") {
			var alcohol = getCityTweetsData("Alcohols")
			document.getElementById("degree_title").innerHTML = "Degree of affection : Alcohols (Tweets)  - Primary regions"
			document.getElementById("aurin_title").innerHTML = "Aurin Statistic - Estimated number of people aged 18 years old and over who had high blood pressure  - Primary regions"
			drawMultChart(alcohol[0], "Degree of affection : Alcohols (Tweets)", "container")
			drawChart(alcohol[1], "Aurin Statistic - Estimated number of people aged 18 years old and over who had high blood pressure", "container1")
		}
}


function colChart(sentData){
    var data = anychart.data.set(sentData);
    var seriesData_1 = data.mapAs({x: 0, value: 1});
    var seriesData_2 = data.mapAs({x: 0, value: 2});
    var chart = anychart.bar();
    var series1 = chart.bar(seriesData_1);
    series1.name("Positive Sentiment Tweets Number");
    var series2 = chart.bar(seriesData_2);
    series2.name("Negative Sentiment Tweets Number");
    series1.normal().fill("#00cc99", 0.3);
    series2.normal().fill("#C93756", 0.3);
    chart.barsPadding(0.2);
    chart.barGroupsPadding(2);
    chart.xAxis().title("Regions");
    chart.yAxis().title("Number of Tweets");
    chart.container("container2");
    chart.animation(true);
    chart.draw();
}


anychart.onDocumentReady(function () {
	var pieChartData = getPieChartData()
	drawPie(pieChartData)

	var sentData = getCitySentData()
	colChart(sentData)

	var smoking = getCityTweetsData("Smoking")
	drawMultChart(smoking[0], "Degree of affection : Smoking (Tweets)", "container")
	drawChart(smoking[1], "Aurin Statistic - Number of Lung Cancer Patients", "container1")
});
</script>
</body>
</html>
