<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seven Deadly Sins</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div class="jumbotron text-center">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://unimelb.edu.au/"> <img class="logo" id="logo" src="{{ url_for('static', filename='img/logo.jpg') }}" width="80px" height="80px" margin-left="80px"> </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
                    <li><a href="#scenario">SCENARIOS</a></li>
          <li><a href="#about">ABOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
  <span class="mytext1"><h1 > Seven Deadly Sins </h1></span>
    <span class="mytext2"> <p> <br> </p></span>
  <span class="mytext2"> <p>Welcome! </p></span>
    <a class="btn btn-theme btn-sm btn-min-block" href= "{{url_for('goToMap')}}">Learn More </a>

</div>
</div>

<div id = "scenario" class="container-fluid bg-dark slideanim" >
  <div class="container-fluid text-center slideanim">
    <a href= "{{url_for('goToMap')}}">
      <div class="button1">
        Click Here go to analytics page
      </div>
    </a>
    <br><br><br><br>
    <h2>Features</h2>
  </div>
  <div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
              <div class="thumbnail">
                <img class="img-responsive" src="{{ url_for('static', filename='img/map1.png') }}">
              </div>
            </li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
            <div class="thumbnail">
                <img class="img-responsive" src= "{{ url_for('static', filename='img/map2.png') }}">
              </div>
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <div class="container">
                <div class="carousel-caption">
                  <h1>Cluster Markers</h1>
                  <p>Leaflet.markercluster, A technique of grouping markers that are close to each other together on each zom leve</p>
                </div>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <div class="container">
                <div class="carousel-caption">
                  <h1>Choropleth map style</h1>
                  <p>Data visualization by Australian regions</p>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
</div>

<div id = "about" class="container-fluid bg-dark slideanim">
  <div class="container-fluid text-center slideanim">
  <h2>TECHNOLOGY</h2>
  <h4>What we have used ..</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cloud"></span>
      <h4>NeCTAR</h4>
      <p>NeCTAR esearch Cloud System</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-database"></i>
      <h4>COUCH DB</h4>
      <p>Document-oriented NoSQL database architecture</p>
    </div>
    <div class="col-sm-4">
      <a href="#" class="fab fa-twitter"></a>
      <h4>Twitter API</h4>
      <p></p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-file"></i>
      <h4>AURIN</h4>
      <p> Australia National collaboration </p><br><p>delivering e-research infrastructure </p>
    </div>
    <div class="col-sm-4">
      <i class="fab fa-python"></i>
      <h4>Python</h4>
      <p>Havester, Sentiment Analysis..</p>
    </div>
    <div class="col-sm-4">
      <i class="fab fa-html5"></i>
      <h4>Bootstrap</h4>
      <p>Web front end framework, the website is powered by boostrap </p>
    </div>
  </div>

  <h2>Group 66:</h2><br>
  <h4><strong>Members:</strong> </h4>
  <h4 class="slideanim">Kangping Xue , Minghong Gao, Wenjin Li , Ziang Chen, Ming Jin </h4>
  </div>
</div>

<footer class="container-fluid text-center foot">

        <div class="copyrights">
            <p class="white-txt">Seven Deadly Sins © 2019
                <br><br>
            </p>
        </div>
</footer>

</body>
</html>
